*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Header set */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: cornsilk;
    color:  black;
}


/* Main set */
main{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.div-set{
    width: 90%;
    margin-top: 50px;
}