*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Header set */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: cornsilk;
    color:  black;
}


/* Main set */
main{
    height: 100vh;
}

main h2{
    margin-top: 10px;
}

.div-set{
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-set h2{
    margin-top: 20px;
    width: 100%;
}


/* set card HOME PAGE*/
.card-set{
    height: 320px;
    width: 200px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.card-set img{
   height: auto;
   width: 70%;
}

.text-set{
   line-height: 23px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
}

.text-set p{
    margin-top: 5px;
    font-size: 13px;
    font-family: italic;
}

.text-set button{
    border: 2px solid  greenyellow;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
/* finish set card */



/* set card REVIEWS PAGE*/
.div-set-reviews{
    margin-top: 50px;
    width: 80%;
}
.card-set-reviews{
    height: 300px;
    width: 100%;
    border: 1px solid gainsboro;
    display: flex;
}

.card-set-reviews img{
    height: auto;
}

.text-set-reviews{
    line-height: 23px;
    margin: 20px;
}


.text-set-reviews p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    font-style: italic;
}

.div-set section{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card-vote{
    border: 1px solid gainsboro;
    height: 100px;
    margin-top: 50px;
    padding: 10px;
}

.card-vote h4{
    padding-top: 10px;
}
.card-vote p{
   font-size: 12px;
   font-style: italic;
}

.button-back{
    display: flex;
    justify-content: end;
}
.button-back button{
    border: 2px solid  greenyellow;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    
}

/* finish set card  reviews*/